// ***********************************
// IMPORTS
// Import susy, breakpoint, resets and grids
// ***********************************
@import "ui/reset";



// ***********************************
// HELPERS
// ***********************************
@import "variables";
@import "mixins";



// // ***********************************
// // BASE STYLES
// // ***********************************
@import "base";
@import "layout";
@import "typography"; // typography and links
@import "media";



// ***********************************
// UI ELEMENTS
// ***********************************
@import "ui/lists";
// @import "ui/buttons";
// @import "ui/tables";
// @import "ui/forms";
// @import "ui/code";
// @import "ui/panels";

// ***********************************
// content
// ***********************************
@import "content";


// ***********************************
// Navigation
// ***********************************
@import "navigation";

.week {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 5px;
}
.weather-day {
    border: 1px solid grey;
    border-radius: 10px;
}

h3 {
    background-color: grey;
}

.TP {
    display: grid;
    grid-template-columns: auto auto;
}